.form-user {
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.form-user-img {
    background-image: url('../../assets/images/user.png');
    background-size: cover;
}

.input-fluid {
    width: 100%;
    margin-bottom: 15px;
}

.btn-actions {
    margin-top: 15px;
}